* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --- Renkler (Direkt hsl paranteziyle) --- */
    --color-primary-dark-green: hsl(158, 42%, 18%);
    /* Buton Rengi */
    --color-primary-medium-green: hsl(158, 36%, 37%);
    /* Hover Rengi */

    --color-cream: hsl(30, 38%, 92%);
    /* Sayfa Arkaplanı */
    --color-very-dark-blue: hsl(212, 21%, 14%);
    /* Başlık Rengi */
    --color-dark-grayish-blue: hsl(228, 12%, 48%);
    /* Yazı Rengi */
    --color-white: hsl(0, 0%, 100%);

    /* --- Fontlar --- */
    --font-main: 'Montserrat', sans-serif;
    --font-heading: 'Fraunces', serif;

    --font-size-body: 14px;
}

body {
    background-color: var(--color-cream);
    font-size: var(--font-size-body);
    font-family: var(--font-main);
    color: var(--color-dark-grayish-blue);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    max-width: 600px;
    width: 100%;
    background-color: var(--color-white);
    overflow: hidden;
    border-radius: 10px;
}

.card-image {
    width: 50%;
}

.mobile-img {
    display: none;
}

.parfum-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 50%;
    padding: 30px;
}

.heading-title {
    letter-spacing: 5px;
    font-size: 12px;
}

.content-title {
    color: var(--color-very-dark-blue);
    font-family: var(--font-heading);
    font-size: 32px;
}

.price {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.new-price {
    color: var(--color-primary-medium-green);
    font-weight: 700;
    font-family: var(--font-heading);
    font-size: 32px;
}

.old-price {
    text-decoration: line-through;
    font-size: 12px;
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-medium-green);
    padding: 15px;
    color: var(--color-white);
    border-radius: 10px;
    gap: 10px;
    font-size: 12px;
    cursor: pointer;
}

.card-button:hover {
    background-color: var(--color-primary-dark-green);
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        overflow: hidden;
        border-radius: 0;
    }

    .card-image {
        width: 100%;
        height: auto;
    }

    .parfum-img {
        display: none;
    }

    
    .mobile-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    .card-content {
        width: 100%;
        padding: 30px;
}
}